
.bg-overlay {
    background:
      url("/assets/img/back.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  
  .product-card {
    background-color: rgba(51, 48, 48, 0.321);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.35);
  }
  .navigatebar {
    /* background-color:#850e366b; */
    backdrop-filter: blur(10px);
    background: #850e36dd;
  }
  .buttonEdit {
    background-color: #EE6983;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }

  .buttonDelete {
    background-color: #b02742;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
