/* Background Image */
.bg-overlay {
    background: linear-gradient(
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),
      url("/assets/img/back.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  /* Card hover animation */
  .product-card {
    background-color: rgba(51, 48, 48, 0.238);
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.35);
  }